@charset "UTF-8";

*{margin: 0;
  padding: 0;}

body{font-family:Arial, Helvetica, sans-serif;
     background-color: #C0DBEA;
     min-height: 100vh;  /*ja é essa altura por padrão*/
     display: flex;
     align-items: center;
     font-size: 15px;} 

.container{max-width: 350px;
           margin: 0 auto;} /*para centralizar*/

.card{background-color: #fff;
      padding: 15px;
      border-radius: 15px;
      text-align: center;
      margin: 0 1em;}
    
.card img{width: 100%;
          border-radius: 12px;}

.card h2, p{padding: 3px 10px;}

.card h2{color: #1B2430;
         line-height: 1.3em;
         padding-bottom: 15px;
         font-size: 21px;}
        
        
.card p{color: #a7a6a6;
        font-size: 16px;}

    